POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque-esta-senha-forte

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=troque-esta-chave
MINIO_SECRET_KEY=troque-esta-senha-forte
MINIO_BUCKET=documents
MINIO_REGION=us-east-1

CORS_ORIGIN=https://transporte.hedsistemas.dev.br, https://api.hedsistemas.dev.br

# RabbitMQ
RABBITMQ_DEFAULT_USER=logistica
RABBITMQ_DEFAULT_PASS=troque-esta-senha-forte
# Nunca deixe esta confirmação habilitada permanentemente.
CONFIRM_REQUEUE_DLQ=false
